/* styles.css */

.App {
    border: 4px solid darkgrey;
    padding: 20px;
    max-width: 1000px;
    margin: 10px auto;
    background-color: lightgray;
}

.header-text ion-icon {
    font-size: 2em;
    color: black;
    margin: 10px;
}

.header-text ion-icon:hover {
    color: #009688;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(56, 53, 53);
}

.header-content {
    overflow: auto;
}

.profile-image {
    float: left;
    max-width: 17%;
    height: auto;
    padding: 20px;
}

.header-text {
    margin-top: 30px;
}

h2,
h3 {
    font-style: italic;
}

li,
p {
    font-family: Cambria, Arial;
}

a:hover {
    color: #009688;
}

header {
    background-color: darkgrey;
    color: black;
    border: 2px solid #555;
}

footer {
    background-color: darkgrey;
    color: black;
    border: 2px solid #555;
    padding-left: 20px;
}

footer a {
    color: rgb(65, 11, 11);
    text-decoration: none;
}